body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #00c6ff, #0072ff);
}

/* Glass card */
.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    animation: fadeIn 1s ease;
}

h1 {
    margin-bottom: 20px;
}

/* Search box */
.search {
    display: flex;
    gap: 10px;
    justify-content: center;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #ff9800;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #e68900;
    transform: scale(1.05);
}

/* Weather display */
.weather-box {
    margin-top: 20px;
    animation: slideUp 0.5s ease;
}

#temp {
    font-size: 40px;
    margin: 10px 0;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {transform: translateY(20px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}